.dropDownContainer {
  display: flex;
  width: 50%;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropDownLabel {
  color: var(--dark-grey);
  display: flex;
  font-size: 14px;
  padding: 4px 0;
}

.selectedItem {
  align-items: center;
  background: var(--white);
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  color: var(--dark-grey);
  display: flex;
  font-size: 14px;
  height: 24px;
  outline: none;
  padding: 0 4px;
  /* width: 100% */
}

.inputSearch:focus {
  outline: 1px solid var(--primary-black);
}

.inputValue {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%
}

.imgTickerName {
  align-items: center;
  display: flex;
  height: 24px;
}

.imgTickerName:hover {
  background: var(--grey-regular);
}

.stockContainer {
  background-color: var(--white);
  border: 1px solid var(--primary-black);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 8px 0 0 0;
  max-height: 200px;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 24px;
  /* width: calc(100%); */
}

.dropDownContainer li {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 2px 8px;
  user-select: none;
}

.tickerLabel {
  display: flex;
  justify-content: center;
  padding: 2px 4px 0 4px;
  text-align: center;
  width: 64px;
}

.companyName {
  display: flex;
}