.tableContainer {
  padding: 16px 0 0 0;

  img {
    height: 24px;
    width: 24px;
  }
}

table {
  width: 100%;
}

th {
  align-items: center;
  background-color: var(--grey-90);
  font-weight: 600 !important;
  height: 40px;
  vertical-align: middle !important;
  width: 10.55% !important;
}

th:first-child {
  width: 5% !important;
}

td {
  background-color: var(--grey-80);
  color: var(--grey-20);
  height: 40px;
  text-align: center !important;
  vertical-align: middle !important;
  width: 10.55% !important;
}

td:first-child {
  width: 5% !important;
}