.container {
  background: var(--white);
  min-height: 100vh;
  /* min-width: 100vw; */
}

.title {
  color: var(--dark-grey);
  font-weight: 600;
  margin: 16px 0;
}

.stockActionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
}

.actionButton {
  border-radius: 16px;
  border: none;
  height: 40px;
  justify-content: center;
  margin: 0 4px;
  outline: none;
  width: 100px;
}

.actionCompra {
  background-color: #60B7E6;
  color: #2E78AC;
}

.actionCompraDeact {
  background-color: rgba(0,0,0,0);
  border: 1px solid #60B7E6;
  color: #2E78AC;
}

.actionVenda {
  background-color: #E9BB36;
  color: #906F11;
}

.actionVendaDeact {
  background-color: rgba(0,0,0,0);
  border: 1px solid #E9BB36;
  color: #E9BB36;
}

.separator {
  border-bottom: 0;
  border-top: var(--dark-grey) solid 1px;
  margin: 24px 0;
}

.stratContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.operacaoContainer {
  padding: 24px 24px;
  width: 50%;
}

.operacaoTitle {
  align-items: center;
  border-radius: 20px;
  display: flex;
  height: 24px;
  justify-content: center;
  margin: 0 0 16px 0;
}

.titleCompra {
  background-color: #60B7E6;
}

.titleVenda {
  background-color: #E9BB36;
}

.operacaoBody {
  display: flex;
  flex-direction: column;
}

.optLabel {
  font-size: 14px;
  padding: 4px 0;
}

.optSelect {
  background: var(--white);
  border-radius: 6px;
  height: 24px;
}

.optSelect:focus {
  border: var(--dark-grey) solid 1px;
  outline: var(--dark-grey) solid 1px;
}