.navMenu {
  align-items: center;
  background: var(--dark-grey);
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: space-between;
  padding: 16px;
  /* width: 100%; */
}

.links {
  display: flex;
}

.name {
  color: #E9BB36;
}

.navItem {
  color: var(--grey-regular);
  cursor: pointer;
  display: flex;
  padding: 0 8px;
  text-decoration: none;
}

.routeActive {
  color: var(--white);
}